{% extends "base.html" %}

<body>

    {% block mainblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container-fluid px-4 mb-3">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} text-left w-100">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="container-fluid px-4 mb-3">
        <div class="alert alert-info d-flex justify-content-between align-items-center w-100 mb-0">
            <span>Select 2 or more packages to buy as a bundle to qualify for discount.</span>
            <a href="" class="btn btn-primary">Purchase bundle</a>
        </div>
    </div>

    {% for package in all_packages %}
    <!-- {{ package|pprint }} -->
    <div class="col-xl-4 col-md-6 col-sm-12 p-2">
        <div class="card card-common h-100">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{package.image_url}}" class="img-fluid" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{package.hotel_name}}</h5>
                <p class="card-text">{{package.description}}</p>
                <a href="/viewPackageDetail/{{package.hotel_name}}" class="btn btn-primary">Details</a>
                <a href="/view?hotel_name='{{package.hotel_name}}'" class="btn btn-primary">Book</a>
                <input type="checkbox" style="height: 38px; width: 38px; vertical-align: middle; margin-left: 8px; border-radius: 6px; border: 4px solid #007bff">
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
